<nav class="bg-green-800 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-bold">Controle Rural</a>

    <button class="text-white focus:outline-none lg:hidden" (click)="toggleMenu()" aria-label="Abrir menu">
      ☰
    </button>

    <!-- Links de Navegação (visíveis em telas maiores) -->
    <ul class="lg:flex lg:space-x-4 hidden" [ngClass]="{ 'hidden': !isMenuOpen, 'block': isMenuOpen }">
      <li>
        <a [routerLink]="['/dashboard']" class="text-white hover:text-green-200 transition duration-300">Início</a>
      </li>
      <li>
        <a [routerLink]="['/despesas']" class="text-white hover:text-green-200 transition duration-300">Despesas</a>
      </li>
      <li>
        <a [routerLink]="['/produtos']" class="text-white hover:text-green-200 transition duration-300">Produtos</a>
      </li>
      <li>
        <a [routerLink]="['/relatorios']" class="text-white hover:text-green-200 transition duration-300">Relatorios</a>
      </li>
    </ul>

    <div class="hidden lg:block">
      <button (click)="logout()" *ngIf="user"
        class="cursor-pointer bg-white text-green-800 px-4 py-2 rounded-md hover:bg-green-200 transition duration-300">
        Logout
      </button>
    </div>
  </div>
</nav>
