<div class="p-2">
  <h2>Gestão de Produtos (MVP)</h2>

<div class="card p-3 mb-3">
  <h4>{{ editMode ? 'Editar Produto' : 'Novo Produto' }}</h4>
  <label>Nome</label>
  <input [(ngModel)]="produtoForm.nome" class="form-control mb-2" type="text" />

  <label>Quantidade</label>
  <input [(ngModel)]="produtoForm.quantidade" class="form-control mb-2" type="number" />

  <label>Valor</label>
  <input [(ngModel)]="produtoForm.valor" class="form-control mb-2" type="number" />

  <button (click)="salvarProduto()" class="btn btn-primary me-2">
    {{ editMode ? 'Atualizar' : 'Salvar' }}
  </button>
  <button (click)="limparFormulario()" class="btn btn-secondary" *ngIf="editMode">Cancelar</button>
</div>

<!-- LISTAGEM -->


<table class="min-w-full bg-gray-50 rounded-lg shadow">
  <thead>
    <tr class="text-sm font-semibold text-left text-blue-950 uppercase bg-blue-300">
      <th class="px-4 py-2 text-center border-b">ID</th>
      <th class="px-4 py-2 text-center border-b">Nome</th>
      <th class="px-4 py-2 text-center border-b">Quantidade</th>
      <th class="px-4 py-2 text-center border-b">Valor</th>
      <th class="px-4 py-2 text-center border-b">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hover:bg-blue-50" *ngFor="let p of produtos">
      <td class="py-2 font-bold text-center text-gray-800 border-b">{{ p.id }}</td>
      <td class="py-2 font-bold text-center text-gray-800 border-b">{{ p.nome }}</td>
      <td class="py-2 font-bold text-center text-gray-800 border-b">{{ p.quantidade }}</td>
      <td class="py-2 font-bold text-center text-gray-800 border-b">{{ p.valor }}</td>
      <td class="py-2 font-bold text-center text-gray-800 border-b">
        <button (click)="editar(p)" class="rounded bg-blue-500 text-white cursor-pointer hover:bg-blue-600 px-8 " title="Editar">
            EDITAR
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
