<div class="card p-3 mb-3">
  <h4 class="p-4 w-full rounded-md shadow shadow-green-800 font-bold text-xl text-green-800">
    Visualizando Fornecedor - #{{fornecedor.id}}
  </h4>

  <div class="p-2 shadow shadow-green-800 rounded-md w-full mt-2 flex flex-col items-start justify-between">
    <div class="flex flex-col items-start w-full">
      <label>Nome</label>
      <input [(ngModel)]="fornecedor.nome"
             class="w-full form-control mb-2 focus:outline-none border-2 border-gray-200 rounded-lg p-2"
             type="text" disabled />
    </div>

    <div class="flex flex-col items-start w-full">
      <label>Cnpj</label>
      <input [(ngModel)]="fornecedor.cnpj"
             class="w-full form-control mb-2 focus:outline-none border-2 border-gray-200 rounded-lg p-2"
             type="number" disabled />
    </div>

    <div class="flex flex-col items-start w-full">
      <label>Telefone</label>
      <input [(ngModel)]="fornecedor.telefone"
             class="w-full form-control mb-2 focus:outline-none border-2 border-gray-200 rounded-lg p-2"
             type="text" disabled />
    </div>
  </div>
</div>
