<div class="card p-3 mb-3">
  <h4 class="p-4 w-full rounded-md shadow shadow-green-600 font-bold text-xl text-green-600">Novo Produto</h4>
  <!-- <h4>{{ editMode ? 'Editar Produto' : 'Novo Produto' }}</h4> -->

  <div class="p-2 shadow shadow-green-600 rounded-md w-full mt-2 flex flex-col items-start justify-between">
    <div class="flex flex-col items-start w-full">
      <label>Nome</label>
      <input [(ngModel)]="produtoForm.nome"
        class="w-full form-control mb-2 focus:outline-none  border-2 border-gray-200 rounded-lg p-2" type="text" />
    </div>

    <div class="flex flex-col items-start w-full">
      <label>Preço</label>
      <input [(ngModel)]="produtoForm.preco"
        class="w-full form-control mb-2 focus:outline-none  border-2 border-gray-200 rounded-lg p-2" type="number" />
    </div>

    <div class="flex flex-col items-start w-full">
      <label>Marca</label>
      <input [(ngModel)]="produtoForm.marca"
        class="w-full form-control mb-2 focus:outline-none  border-2 border-gray-200 rounded-lg p-2" type="text" />
    </div>

    <button (click)="salvarProduto()"
      class="bg-green-600 text-white p-2 rounded-md w-full mt-2 uppercase font-bold cursor-pointer">
      {{ editMode ? 'Atualizar' : 'Salvar' }}
    </button>

    <button (click)="limparFormulario()" class="btn btn-secondary" *ngIf="editMode">Cancelar</button>
  </div>
</div>
