<div class="p-2">
  <div class="flex justify-between items-center mb-2 bg-gray-100 p-4 w-full rounded-md shadow shadow-green-800 font-bold">
    <h2 class="text-gray-700 text-xl font-bold">Lista de Fornecedor</h2>
    <a [routerLink]="['/fornecedor/nov']">
      <app-success-button [label]="label"></app-success-button>
    </a>
  </div>

  <table class="min-w-full bg-gray-50 rounded-lg shadow border-2 border-green-800">
    <thead>
      <tr class="text-sm text-left uppercase bg-green-800 text-white font-bold">
        <th class="px-4 py-2 text-center border-b">ID</th>
        <th class="px-4 py-2 text-center border-b">Nome</th>
        <th class="px-4 py-2 text-center border-b">Cnpj</th>
        <th class="px-4 py-2 text-center border-b">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover:bg-gray-100" *ngFor="let f of fornecedor">
        <td class="py-2 font-bold text-center text-gray-800 border-b">
          <a [routerLink]="['/fornecedores/visualizar', f.id]">
            {{ f.id }}
          </a>
        </td>
        <td class="py-2 font-bold text-center text-gray-800 border-b">{{ f.nome }}</td>
        <td class="py-2 font-bold text-center text-gray-800 border-b">{{ f.cnpj }}</td>
        <td class="py-2 font-bold text-center text-gray-800 border-b gap-2">{{ f.telefone }}</td>
          <button
            class="rounded bg-transparent border border-gray-600 text-white cursor-pointer hover:bg-gray-700 px-2 p-1 mx-1"
            title="Editar" [routerLink]="['/fornecedor/editar', f.id]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="none"
              class="size-6 stroke-gray-600 hover:stroke-white">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
            </svg>
          </button>

          <button
            class="rounded bg-transparent border border-red-600 text-white cursor-pointer hover:bg-red-700 px-2 p-1 mx-1"
            title="Excluir" (click)="excluirFornecedor(f.id)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="none"
              class="size-6 stroke-red-600 hover:stroke-white">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
          </button>
      </tr>
    </tbody>
  </table>
</div>
